shipping/dhl/xsd/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.dhl.com/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.dhl.com/datatypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="DataTypes">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="AccountNumber">
		<xs:annotation>
			<xs:documentation>DHL Account Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="9999999999"/>
			<xs:minInclusive value="100000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountType">
		<xs:annotation>
			<xs:documentation>Account Type by method of payment ( DHL account vs. Credit card)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<!--Updated by Amruta on 25-Jan-08 for charge card removal requirement-->
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressLine">
		<xs:annotation>
			<xs:documentation>Address Line</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdvanceDaysNotice">
		<xs:annotation>
			<xs:documentation>Days of advance notice required</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:pattern value="\d{0,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AWBNumber">
		<xs:annotation>
			<xs:documentation>Airway bill number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DHLRoutingCode">
        <xs:annotation>
            <xs:documentation>Routing Code Text</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InternalServiceCode">
        <xs:annotation>
            <xs:documentation>Handling feature code returned by GLS</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="BillCode">
		<xs:annotation>
			<xs:documentation>DHL billing options</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
			<xs:enumeration value="DSA"/>
			<xs:enumeration value="DBA"/>
			<!--Commented by Amruta on 25-Jan-08 for charge card removal requirement-->
			<!--xs:enumeration value="CC"/-->
			<xs:enumeration value="TCA"/>
			<xs:enumeration value="IEA"/>
			<xs:enumeration value="UAN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Billing">
		<xs:sequence>
			<xs:element name="ShipperAccountNumber" type="AccountNumber"/>
			<xs:element name="ShippingPaymentType" type="PaymentType"/>
			<xs:element name="BillingAccountNumber" type="AccountNumber"/>
			<xs:element name="DutyPaymentType" type="DutyTaxPaymentType"/>
			<xs:element name="DutyAccountNumber" type="AccountNumber" minOccurs="0"/>
			<!--Commented by Amruta on 25-Jan-08 for charge card removal requirement-->			
			<!--xs:element name="ChargeCardInfo" type="ChargeCard" minOccurs="0"/-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeCardConfNo">
		<xs:annotation>
			<xs:documentation>Charge card approval number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:pattern value="\d{0,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeCardExpDateValidator">
		<xs:annotation>
			<xs:documentation>Charge card expiration date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:pattern value="(0[1-9]|1[0-2])\d{1}[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeCardNo">
		<xs:annotation>
			<xs:documentation>Charge card number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1000000000000"/>
			<xs:maxInclusive value="9999999999999999"/>
			<xs:pattern value="\d{13,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ChargeCard">
		<xs:sequence>
			<xs:element name="ChargeCardNo" type="ChargeCardNo"/>
			<xs:element name="ChargeCardType" type="ChargeCardType"/>
			<xs:element name="ChargeCardConfNo" type="ChargeCardConfNo"/>
			<xs:element name="ChargeCardExpiryDate" type="ChargeCardExpDateValidator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeCardType">
		<xs:annotation>
			<xs:documentation>Charge card issuer type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="DI"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="VI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="City">
		<xs:annotation>
			<xs:documentation>City name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommodityCode">
		<xs:annotation>
			<xs:documentation>Commodity codes for shipment type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
           <xs:maxLength value="20"/>
        </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommodityName">
		<xs:annotation>
			<xs:documentation>Commodity name for shipment content</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Commodity">
		<xs:sequence>
			<xs:element name="CommodityCode" type="CommodityCode"/>
			<xs:element name="CommodityName" type="CommodityName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CommunicationAddress">
		<xs:annotation>
			<xs:documentation>Communications line number: phone number, fax number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicationType">
		<xs:annotation>
			<xs:documentation>Communications line type (P: phone, F: fax)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompanyNameValidator">
		<xs:annotation>
			<xs:documentation>Name of company / business</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Consignee">
		<xs:sequence>
			<xs:element name="CompanyName" type="CompanyNameValidator" minOccurs="0"/>
			<xs:element name="AddressLine" type="AddressLine" minOccurs="0" maxOccurs="3"/>
			<xs:element name="City" type="City"/>
			<xs:element name="Division" type="Division" minOccurs="0"/>
			<xs:element name="DivisionCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCode" minOccurs="0"/>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="CountryName" type="CountryName"/>
			<xs:element name="FederalTaxId" minOccurs="0">

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>
				</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StateTaxId" minOccurs="0">

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact" type="Contact"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:sequence>
			<xs:element name="PersonName" type="PersonName"/>
			<xs:element name="PhoneNumber" type="PhoneNumber"/>
			<xs:element name="PhoneExtension" type="PhoneExtension" minOccurs="0"/>
			<xs:element name="FaxNumber" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="Telex" type="Telex" minOccurs="0"/>
			<xs:element name="Email" type="Email" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneExtension">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:annotation>
			<xs:documentation>ISO country codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryName">
		<xs:annotation>
			<xs:documentation>ISO country name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CourierMsg">
		<xs:annotation>
			<xs:documentation>Courier message for printing on airway bill</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:annotation>
			<xs:documentation>ISO currency code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyName">
		<xs:annotation>
			<xs:documentation>ISO currency name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:annotation>
			<xs:documentation>Date and time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:annotation>
			<xs:documentation>Date only</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DayHour">
		<xs:annotation>
			<xs:documentation>Day and hour only</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-9]|2[0-9]|3[0-1]) ([01-24])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DoorTo">
		<xs:annotation>
			<xs:documentation>Defines the type of delivery service that applies to the shipment</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="DA"/>
			<xs:enumeration value="AA"/>
			<xs:enumeration value="DC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Dutiable">
		<xs:sequence>
			<xs:element name="DeclaredValue" type="Money" minOccurs="0" />
			<xs:element name="DeclaredCurrency" type="CurrencyCode" minOccurs="0" />
			<xs:element name="ScheduleB" type="ScheduleB" minOccurs="0" />
			<xs:element name="ExportLicense" minOccurs="0" />
			<xs:element name="ShipperEIN" minOccurs="0" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipperIDType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="S" />
						<xs:enumeration value="E" />
						<xs:enumeration value="D" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ConsigneeIDType" minOccurs="0">

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"></xs:length>
						<xs:enumeration value="S" />
						<xs:enumeration value="E" />
						<xs:enumeration value="D" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImportLicense" minOccurs="0" />
			<xs:element name="ConsigneeEIN" minOccurs="0">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
							Consignee’s tax ID or VAT number.
						</xs:documentation>
					</xs:annotation>
				<!--<xs:element name="ConsigneeIDType" minOccurs="0">-->
				
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TermsOfTrade" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DutyTaxPaymentType">
		<xs:annotation>
			<xs:documentation>Duty and tax charge payment type (S:Shipper, R:Recipient, T:Third Party/Other)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DivisionCode">
		<xs:annotation>
			<xs:documentation>Division (e.g. state, prefecture, etc.) code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Division">
		<xs:annotation>
			<xs:documentation>Division (e.g. state, prefecture, etc.) name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailBody">
		<xs:annotation>
			<xs:documentation>Body of an email message</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Email">
		<xs:annotation>
			<xs:documentation>Email message</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="From" type="EmailAddress"/>
			<xs:element name="To" type="EmailAddress"/>
			<xs:element name="cc" type="EmailAddress" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Subject" type="xs:string" minOccurs="0"/>
			<xs:element name="ReplyTo" type="EmailAddress" minOccurs="0"/>
			<xs:element name="Body" type="EmailBody" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EmailAddress">
		<xs:annotation>
			<xs:documentation>Email address containing '@'</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="ExportDeclaration">
		<xs:sequence>
			<xs:element name="InterConsignee" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsPartiesRelation" type="YesNo" minOccurs="0"/>
			<xs:element name="ECCN" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SignatureName" type="SignatureName" minOccurs="0"/>
			<xs:element name="SignatureTitle" type="SignatureTitle" minOccurs="0"/>
			<xs:element name="ExportReason" type="ExportReason" minOccurs="0"/>
			<xs:element name="ExportReasonCode" type="ExportReasonCode" minOccurs="0"/>
			<xs:element name="SedNumber" type="SEDNumber" minOccurs="0"/>
			<xs:element name="SedNumberType" type="SEDNumberType" minOccurs="0"/>
			<xs:element name="MxStateCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExportLineItem" type="ExportLineItem" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>specifics  about  each of the line item</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExportLineItem">
		<xs:sequence>
			<xs:element name="LineNumber" type="LineNumber"/>
			<xs:element name="Quantity" type="Quantity"/>
			<xs:element name="QuantityUnit" type="QuantityUnit"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Value" type="Money"/>
			<xs:element name="IsDomestic" type="YesNo" minOccurs="0"/>
			<xs:element name="CommodityCode" type="CommodityCode" minOccurs="0"/>
			<xs:element name="ScheduleB" type="ScheduleB" minOccurs="0"/>
			<xs:element name="ECCN" type="xs:string" minOccurs="0"/>
			<xs:element name="Weight" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Weight" type="Weight"/>
						<xs:element name="WeightUnit" type="WeightUnit"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="License" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LicenseNumber" type="LicenseNumber">
							<xs:annotation>
								<xs:documentation>shipper export license</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExpiryDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LicenseSymbol" type="LicenseNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>license excption symbol</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SignatureName">
		<xs:annotation>
			<xs:documentation>Signature name </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SignatureTitle">
		<xs:annotation>
			<xs:documentation>Signature title </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportReasonCode">
		<xs:annotation>
			<xs:documentation>Export reason code (P:Permanent, T:Temporary, R:Re-Export)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GlobalProductCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
            <xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExportReason">
		<xs:annotation>
			<xs:documentation>Export reason</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDType">
		<xs:annotation>
			<xs:documentation>ID Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SSN"/>
			<xs:enumeration value="EIN"/>
			<xs:enumeration value="DUNS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PiecesEnabled">
        <xs:annotation>
            <xs:documentation>Pieces Enabling Flag</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="LanguageCode">
		<xs:annotation>
			<xs:documentation>ISO Language Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LicenseNumber">
		<xs:annotation>
			<xs:documentation>Export license number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LineNumber">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalProductCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
            <xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation>Monetary amount (with 2 decimal precision)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="9999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageType">
		<xs:annotation>
			<xs:documentation>Package Type (EE: DHL Express Envelope, OD:Other DHL Packaging, CP:Customer-provided.Ground shipments must choose CP)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="OD"/>
			<xs:enumeration value="CP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonName">
		<xs:annotation>
			<xs:documentation>Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneExt">
		<xs:annotation>
			<xs:documentation>Phone extension</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="99999"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumber">
		<xs:annotation>
			<xs:documentation>Phone Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PieceID">
		<xs:annotation>
			<xs:documentation>Piece ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Piece">
		<xs:sequence>
			<xs:element name="PieceID" type="PieceID" minOccurs="0"/>
			<xs:element name="PackageType" type="PackageType" minOccurs="0"/>
			<xs:element name="Weight" type="Weight" minOccurs="0"/>
			<xs:element name="DimWeight" type="Weight" minOccurs="0"/>
			<xs:element name="Width" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>required if height and depth are  specified</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Height" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>required if width and depth are specified</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Depth" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>required if width and height are specified</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PieceContents" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pieces">
		<xs:annotation>
			<xs:documentation>Element encapsulating peices information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Piece" type="Piece" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--Add Comment by Himanshu on 10-Aug-09 for Piece Enablement-->
	<xs:complexType name="ShipValResponsePiece">
                         <xs:sequence>
                            <xs:element name="PieceNumber" type="PieceNumber" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Depth"  type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="Width"  type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="Height" type="xs:positiveInteger" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="Weight" type="Weight" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="PackageType" type="PackageType" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="DimWeight" type="Weight" minOccurs="0" maxOccurs="1"/> 
                            <xs:element name="PieceContents" type="PieceContents" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="DataIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="LicensePlate" type="PieceID" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="LicensePlateBarCode" type="BarCode" minOccurs="1" maxOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
	<xs:complexType name="ShipValResponsePieces">
        <xs:annotation>
            <xs:documentation>Element encapsulating pieces information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Piece" type="ShipValResponsePiece" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PieceNumber">
        <xs:annotation>
            <xs:documentation>Piece Number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:positiveInteger">
         </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="PieceContents">
        <xs:annotation>
            <xs:documentation>Piece contents description</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="90"/>
        </xs:restriction>
    </xs:simpleType>
    <!--End Comment by Himanshu on 10-Aug-09 for Piece Enablement-->
    
	<xs:complexType name="Place">
		<xs:sequence>
			<xs:element name="ResidenceOrBusiness" type="ResidenceOrBusiness" minOccurs="0"/>
			<xs:element name="CompanyName" type="CompanyNameValidator" minOccurs="0"/>
			<xs:element name="AddressLine" type="AddressLine" minOccurs="0" maxOccurs="3"/>
			<xs:element name="City" type="City"/>
			<xs:element name="CountryCode" type="CountryCode"/>
			<xs:element name="DivisionCode" type="StateCode" minOccurs="0"/>
			<xs:element name="Division" type="State"/>
			<xs:element name="PostalCode" type="PostalCode"/>
			<!--<xs:element name="Division" type="StateCode" minOccurs="0"/>-->
			<!--	<xs:element name="PackageLocation" type="PackageLocation" minOccurs="0"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StateCode">
		<xs:annotation>
			<xs:documentation>Division (state) code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostalCode">
		<xs:annotation>
			<xs:documentation>Full postal/zip code for address</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProductCode">
		<xs:annotation>
			<xs:documentation>DHL product code 
			D : US Overnight  (>0.5 lb) and Worldwide Express Non-dutiable  (>0.5 lb) 
			X : USA Express Envelope   (less than or  = 0.5 lb) and Worldwide Express-International Express Envelope  (less than or = 0.5 lb) 
			W : Worldwide Express-Dutiable
			Y : DHL Second Day Express . Must be Express Envelop with weight lessthan or = 0.5 lb
			G : DHL Second Day . Weight > 0.5 lb or not an express envelop
			T : DHL Ground Shipments
		 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
  	        <!-- Added by mary on 6th Oct 2009 for restrict the global product code pattern -->		
			<xs:pattern value="([A-Z0-9])*"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<!--xs:enumeration value="D"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="T"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuantityUnit">
		<xs:annotation>
			<xs:documentation>Quantity unit of measure (tens, hundreds, thousands, etc.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity">
		<xs:annotation>
			<xs:documentation>Quantity</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="32000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceID">
		<xs:annotation>
			<xs:documentation>Shipper reference ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Reference">
		<xs:sequence>
			<xs:element name="ReferenceID" type="ReferenceID"/>
			<xs:element name="ReferenceType" type="ReferenceType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReferenceType">
		<xs:annotation>
			<xs:documentation>Shipment reference type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResidenceOrBusiness">
		<xs:annotation>
			<xs:documentation>Identifies if a location is a business, residence, or both (B:Business, R:Residence, C:Business Residence)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ScheduleB">
		<xs:annotation>
			<xs:documentation>Schedule B numner</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEDDescription">
		<xs:annotation>
			<xs:documentation>Shippers Export declaration line item description</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEDNumberType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEDNumber">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FTSR"/>
			<xs:enumeration value="XTN"/>
			<xs:enumeration value="SAS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShipmentContents">
		<xs:annotation>
			<xs:documentation>Shipment contents description</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ShipmentDetails">
		<xs:sequence>
			<xs:element name="NumberOfPieces" type="xs:positiveInteger"/>
			<xs:element name="Pieces" type="Pieces"/>
			<xs:element name="Weight" type="Weight"/>
			<xs:element name="WeightUnit" type="WeightUnit"/>
			<xs:element name="ProductCode" type="ProductCode" minOccurs="0"/>
			<xs:element name="GlobalProductCode" type="ProductCode"/>
			<xs:element name="LocalProductCode" type="LocalProductCode" minOccurs="0"/>
			<xs:element name="Date" type="Date"/>
			<xs:element name="Contents" type="ShipmentContents" minOccurs="0"/>
			<xs:element name="DoorTo" type="DoorTo" minOccurs="0"/>
			<xs:element name="DimensionUnit" type="DimensionUnit" minOccurs="0"/>
			<xs:element name="InsuredAmount" type="Money" minOccurs="0"/>
			<xs:element name="PackageType" type="PackageType" minOccurs="0"/>
			<xs:element name="IsDutiable" type="YesNo" minOccurs="0"/>
			<xs:element name="CurrencyCode" type="CurrencyCode"/>
			<!--Target date for when package(s) will be shipped (but usually current date).Value may range from today to ten days after.-->
			<!--<xs:element name="ShipmentContents" type="ShipmentContents" minOccurs="0"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DimensionUnit">
		<xs:annotation>
			<xs:documentation>Dimension Unit I (inches)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="I"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShipmentPaymentType">
		<xs:annotation>
			<xs:documentation>Shipment payment type (S:Shipper, R:Recipient, T:Third party/other, C:Credit Card)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Shipment">
		<xs:sequence>
			<xs:element name="Weight" type="Weight"/>
			<xs:element name="WeightUnit" type="WeightUnit"/>
			<xs:element name="Pieces" type="Pieces"/>
			<xs:element name="DoorTo" type="DoorTo"/>
			<xs:element name="AirwarBillNumber" type="AWBNumber" minOccurs="0"/>
			<xs:element name="AccountType" type="AccountType" minOccurs="0"/>
			<xs:element name="ProductType" type="xs:string" minOccurs="0"/>
			<xs:element name="GlobalProductType" type="xs:string" minOccurs="0"/>
			<xs:element name="LocalProductType" type="xs:string" minOccurs="0"/>
			<xs:element name="Commodity" type="Commodity" minOccurs="0"/>
			<xs:element name="DeclaredValue" type="Money" minOccurs="0"/>
			<xs:element name="DeclaredCurrency" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="InsuredValue" type="Money" minOccurs="0"/>
			<xs:element name="InsuredCurrency" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="DimensionalUnit" type="WeightUnit" minOccurs="0"/>
			<xs:element name="DimensionalWeight" type="Weight" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ShipperID">
		<xs:annotation>
			<xs:documentation>Shipper's ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Shipper">
		<xs:sequence>
			<xs:element name="ShipperID" type="ShipperID" />
			<xs:element name="CompanyName" type="CompanyNameValidator" />
			<xs:element name="RegisteredAccount" type="AccountNumber" />
			<xs:element name="AddressLine" type="AddressLine"
				minOccurs="0" maxOccurs="3" />
			<xs:element name="City" type="City" />
			<xs:element name="Division" type="Division" />
			<xs:element name="DivisionCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCode" />
			<xs:element name="CountryCode" type="CountryCode" />
			<xs:element name="CountryName" type="CountryName" />
			<xs:element name="FederalTaxId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StateTaxId" minOccurs="0">

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact" type="Contact" />
			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialService">
		<xs:sequence>
			<xs:element name="SpecialServiceType" type="SpecialServiceType" minOccurs="0"/>
			<xs:element name="CommunicationAddress" type="CommunicationAddress" minOccurs="0"/>
			<xs:element name="CommunicationType" type="CommunicationType" minOccurs="0"/>
			<xs:element name="ChargeValue" type="Money" minOccurs="0"/>
			<xs:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
			<xs:element name="IsWaived" type="YesNo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SpecialServiceType">
		<xs:annotation>
			<xs:documentation>Special Service codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="State">
		<xs:annotation>
			<xs:documentation>State</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceAreaCode">
		<xs:annotation>
			<xs:documentation>DHL service area code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FacilityCode">
        <xs:annotation>
            <xs:documentation>Destination Facility Code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InboundSortCode">
        <xs:annotation>
            <xs:documentation>InBound Sort Code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="OutboundSortCode">
        <xs:annotation>
            <xs:documentation>OutBound Sort Code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Telex">
		<xs:annotation>
			<xs:documentation>Telex number and answer back code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHM">
		<xs:annotation>
			<xs:documentation>Time in hours and minutes (HH:MM)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:complexType name="WeightSeg">
		<xs:sequence>
			<xs:element name="Weight" type="Weight"/>
			<xs:element name="WeightUnit" type="WeightUnit"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WeightUnit">
		<xs:annotation>
			<xs:documentation>Unit of weight measurement (L:Pounds)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Weight">
		<xs:annotation>
			<xs:documentation>Weight of piece or shipment</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="1"/>
			<xs:maxInclusive value="999999.9"/>
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNo">
		<xs:annotation>
			<xs:documentation>Boolean flag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Request">
		<xs:annotation>
			<xs:documentation>Generic request header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceHeader" type="ServiceHeader"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceHeader">
		<xs:annotation>
			<xs:documentation>Standard routing header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time this message is sent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageReference" type="MessageReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A string, peferably number,  to uniquely identify individual messages. Minimum length must be 28 and maximum length is 32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SiteID" type="SiteID"/>
			<xs:element name="Password" type="Password"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SiteID">
		<xs:annotation>
			<xs:documentation>Site ID used for verifying the sender</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Password">
		<xs:annotation>
			<xs:documentation>Password used for verifying the sender</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageReference">
		<xs:annotation>
			<xs:documentation>Reference to the requested Message</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="28"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentType">
		<xs:annotation>
			<xs:documentation>payment type (S:Shipper,R:Recipient,T:Third Party,C:Credit Card)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="T"/>
			<!--Commented by Amruta on 07-Feb-08 for charge card removal requirement-->
			<!--xs:enumeration value="C"/-->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Response">
		<xs:annotation>
			<xs:documentation>Generic response header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceHeader" type="ServiceHeader"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:annotation>
			<xs:documentation>Status/Exception signal element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionStatus" type="xs:string"/>
			<xs:element name="Condition" type="Condition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Note">
		<xs:annotation>
			<xs:documentation>Note/Warning</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionNote" type="xs:string"/>
			<xs:element name="Condition" type="Condition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Condition">
		<xs:sequence>
			<xs:element name="ConditionCode" type="xs:string"/>
			<xs:element name="ConditionData" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Customer">
		<xs:sequence>
			<xs:element name="CustomerID" type="xs:string"/>
			<xs:element name="Name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BarCode">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:complexType name="BarCodes">
		<xs:annotation>
			<xs:documentation>Element containing BarCode data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BarCode" type="BarCode" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains barcodes as Base64 encoded binary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DestinationServiceArea">
		<xs:sequence>
			<xs:element name="ServiceAreaCode" type="ServiceAreaCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>three letter service area code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Detailed description for the Area code such as city, state,country etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityCode" type="FacilityCode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Destination Facility Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InboundSortCode" type="InboundSortCode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>InBound Sort Code</xs:documentation>
                </xs:annotation>
            </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginServiceArea">
        <xs:sequence>
            <xs:element name="ServiceAreaCode" type="ServiceAreaCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>three letter service area code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Detailed description for the Area code such as city, state,country etc</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutboundSortCode" type="OutboundSortCode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>OutBound Sort Code</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceArea">
        <xs:sequence>
            <xs:element name="ServiceAreaCode" type="ServiceAreaCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>three letter service area code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Detailed description for the Area code such as city, state,country etc</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="ServiceEvent">
		<xs:annotation>
			<xs:documentation>Complex type to describe a service event. Eg Pickup, Delivery</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EventCode">
				<xs:annotation>
					<xs:documentation>Two letter Code denoting a specific service event</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the service event code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Add Tracking start -->
	<xs:simpleType name="LevelOfDetails">
		<xs:annotation>
			<xs:documentation>Checkpoint details selection flag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LAST_CHECK_POINT_ONLY"/>
			<xs:enumeration value="ALL_CHECK_POINTS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ShipmentDate">
		<xs:sequence>
			<xs:element name="ShipmentDateFrom" type="Date"/>
			<xs:element name="ShipmentDateTo" type="Date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AWBInfo">
		<xs:sequence>
			<xs:element name="AWBNumber" type="AWBNumber"/>
			<xs:element name="Status" type="Status"/>
			<xs:element name="ShipmentInfo" type="ShipmentInfo" minOccurs="0"/>
			<!--Add Comment by Sarvani on 10-Aug-09 for Piece Enablement-->
			<xs:element name="Pieces" type="TrackingPieces" minOccurs="0" />
			<!--End Add Comment by Sarvani on 10-Aug-09 for Piece Enablement-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentInfo">
		<xs:sequence>
			<xs:element name="OriginServiceArea" type="OriginServiceArea"/>
			<xs:element name="DestinationServiceArea" type="DestinationServiceArea" minOccurs="0"/>
			<xs:element name="ShipperName" type="PersonName"/>
			<xs:element name="ShipperAccountNumber" type="AccountNumber" minOccurs="0"/>
			<xs:element name="ConsigneeName" type="PersonName"/>
			<xs:element name="ShipmentDate" type="xs:dateTime"/>
			<xs:element name="Pieces" minOccurs="0"/>
			<xs:element name="Weight" type="xs:string" minOccurs="0"/>
			<xs:element name="WeightUnit" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="L"/>
						<xs:enumeration value="K"/>
						<xs:enumeration value="G"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EstDlvyDate" type="xs:dateTime" minOccurs="0"/>
			<!-- Start Priya 27/4/2011 Tracking CR Start  -->
			<xs:element name="GlobalProductCode" type="GlobalProductCode" minOccurs="0"/>
			<xs:element name="ShipmentDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="DlvyNotificationFlag" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					<xs:length value="1"/>
						<xs:enumeration value="Y"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Shipper" type="Shipper" minOccurs="0"/>
			<xs:element name="Consignee" type="Consignee" minOccurs="0"/>
			<!-- End Priya 27/4/2011 Tracking CR Start  -->
			<xs:choice>
				<xs:element name="ShipmentEvent" type="ShipmentEvent" maxOccurs="unbounded"/>
				<xs:element name="ShipperReference" type="Reference"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--Add Tracking end -->
	<xs:complexType name="ErrorResponse">
		<xs:annotation>
			<xs:documentation>Generic response header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceHeader" type="ServiceHeader"/>
			<xs:element name="Status" type="Status"/>
		</xs:sequence>
	</xs:complexType>
	<!--Shippment Event Start -->
	<xs:complexType name="ShipmentEvent">
		<xs:annotation>
			<xs:documentation>Describes the checkpoint information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="xs:date"/>
			<xs:element name="Time" type="xs:time"/>
			<xs:element name="ServiceEvent" type="ServiceEvent"/>
			<xs:element name="Signatory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Signatory</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceArea" type="ServiceArea"/>
		</xs:sequence>
	</xs:complexType>
	<!--Shippment Event End -->
	
	<!--Add Comment by Sarvani on 10-Aug-09 for Piece Enablement-->
	<xs:complexType name="PieceInfo">
	<xs:sequence>
			<xs:element name="PieceDetails" type="PieceDetails" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PieceEvent" type="PieceEvent" maxOccurs="unbounded"/>
	</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PieceEvent">
		<xs:annotation>
			<xs:documentation>Describes the checkpoint information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="xs:date"/>
			<xs:element name="Time" type="xs:time"/>
			<xs:element name="ServiceEvent" type="ServiceEvent"/>			
			<xs:element name="Signatory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Signatory</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceArea" type="ServiceArea"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PieceDetails">
		<xs:sequence>
			<xs:element name="AWBNumber" type="xs:string" minOccurs="1"/>
			<xs:element name="LicensePlate" type="TrackingPieceID" minOccurs="1"/>
			<xs:element name="PieceNumber" type="xs:string" minOccurs="0"/>
						
			<xs:element name="ActualDepth" type="xs:string" minOccurs="0"/>
			<xs:element name="ActualWidth" type="xs:string" minOccurs="0"/>
			<xs:element name="ActualHeight" type="xs:string" minOccurs="0"/>
			<xs:element name="ActualWeight" type="xs:string" minOccurs="0"/>
			
			<xs:element name="Depth" type="xs:string" minOccurs="0"/>
			<xs:element name="Width" type="xs:string" minOccurs="0"/>
			<xs:element name="Height" type="xs:string" minOccurs="0"/>
			<xs:element name="Weight" type="xs:string" minOccurs="0"/>
			
			<xs:element name="PackageType" type="PackageType" minOccurs="0"/>
			<xs:element name="DimWeight" type="xs:string" minOccurs="0"/>
			<xs:element name="WeightUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="PieceContents" type="xs:string" minOccurs="0"/>
			
		</xs:sequence>
	</xs:complexType>
	<!--Add Comment by Sarvani on 27-Aug-09 for Piece Enablement-->
	<xs:complexType name="TrackingPieces">
		<xs:annotation>
			<xs:documentation>Piece Info</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PieceInfo" type="PieceInfo" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrackingPieceID">
		<xs:annotation>
			<xs:documentation>Piece ID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Fault">
		<xs:annotation>
			<xs:documentation>Piece Fault</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PieceFault" type="PieceFault" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PieceFault">
		<xs:sequence>
			<xs:element name="PieceID" type="TrackingPieceID" minOccurs="1">
				<xs:annotation>
					<xs:documentation>The License Plate identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConditionCode" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Condition Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConditionData" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Condition Data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LabelImageFormat">
		<xs:annotation>
			<xs:documentation>LabelImageFormat</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="4" />
			<xs:enumeration value="EPL2" />
			<xs:enumeration value="PDF" />
			<xs:enumeration value="ZPL2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PLTStatus">
		<xs:annotation>
			<xs:documentation>PLTStatus</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1" />
			<xs:enumeration value="A" />
			<xs:enumeration value="D" />
			<xs:enumeration value="S" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="QtdSInAdCur">
		<xs:annotation>
			<xs:documentation>QtdSInAdCur</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrencyCode" type="CurrencyCode"
				minOccurs="1" />
			<xs:element name="CurrencyRoleTypeCode" type="CurrencyRoleTypeCode"
				minOccurs="1" />
			<xs:element name="PackageCharge" type="PackageCharge"
				minOccurs="1" />
			<xs:element name="ShippingCharge" type="ShippingCharge"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CurrencyRoleTypeCode">
		<xs:annotation>
			<xs:documentation>CurrencyRoleTypeCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:enumeration value="BILLCU"/>
			<xs:enumeration value="PULCL"/>
			<xs:enumeration value="INVCU"/>
			<xs:enumeration value="BASEC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageCharge">
		<xs:annotation>
			<xs:documentation>PackageCharge</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
            <xs:fractionDigits value="3"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShippingCharge">
		<xs:annotation>
			<xs:documentation>ShippingCharge</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
            <xs:fractionDigits value="3"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LabelImage">
		<xs:annotation>
			<xs:documentation>LabelImage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OutputFormat" type="OutputFormat" minOccurs="0" />
			<xs:element name="OutputImage" type="OutputImage" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OutputFormat">
		<xs:annotation>
			<xs:documentation>OutputFormat</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:enumeration value="EPL2" />
		<xs:enumeration value="PDF" />
		<xs:enumeration value="ZPL2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OutputImage">
		<xs:annotation>
			<xs:documentation>OutputImage</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary" />
	</xs:simpleType>
	<xs:complexType name="DocImages">
		<xs:annotation>
			<xs:documentation>DocImages</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocImage" type="DocImage" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocImage">
		<xs:annotation>
			<xs:documentation>DocImage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="Type" />
			<xs:element name="Image" type="Image" />
			<xs:element name="ImageFormat" type="ImageFormat" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Type">
		<xs:annotation>
			<xs:documentation>Image Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3" />
			<xs:enumeration value="HWB" />
			<xs:enumeration value="INV" />
			<xs:enumeration value="PNV" />
			<xs:enumeration value="COO" />
			<xs:enumeration value="NAF" />
			<xs:enumeration value="CIN" />
			<xs:enumeration value="DCL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Image">
		<xs:annotation>
			<xs:documentation>Image</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary" />
	</xs:simpleType>
	<xs:simpleType name="ImageFormat">
		<xs:annotation>
			<xs:documentation>Image Format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
			<xs:enumeration value="PDF" />
			<xs:enumeration value="PNG" />
			<xs:enumeration value="TIFF" />
			<xs:enumeration value="GIF" />
			<xs:enumeration value="JPEG" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
